<div class="flex align-items-center justify-content-between">
  <div class="logo flex gap-4 align-items-center">
    <div class="menu-clicker">
      <span class="pi pi-align-justify"></span>
    </div>
    <img src="https://picsum.photos/300/100" alt="Lux Vogue's Logo" />
  </div>
  <div class="search flex align-items-center">
    <span class="p-input-icon-left flex align-items-center">
      <div style="position: absolute; left: 0.5em">
        <i class="pi pi-search"></i>
      </div>
      <input type="text" pInputText [(ngModel)]="search" />
    </span>
  </div>
  <div class="actions flex gap-4">
    <div style="background-color: white; padding: 0.5em; border-radius: 100%">
      <i class="pi pi-heart"></i>
    </div>
    <div style="background-color: white; padding: 0.5em; border-radius: 100%">
      <i class="pi pi-shopping-cart"></i>
    </div>
  </div>
</div>
