@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: #f5f5f5 !important;
  font-family: "Poppins", sans-serif;
}

.davi {
  color: #33333387;
  cursor: pointer;
  transition: ease all 0.7s;
}

.davi:hover {
  color: #333333;
}
